<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>starkt.nu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/scroller/1.4.2/css/scroller.bootstrap.min.css"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/scroller/1.4.2/js/dataTables.scroller.min.js"></script>

    <script type="text/javascript" th:src="@{/lib/jquery.spring-friendly.js}"></script>
</head>
<body>
<table id="artiklar" class="table table-striped" width="100%">
    <thead>
    <tr>
        <th>NR</th>
        <th>NAMN</th>
        <th></th>
        <th>TYP</th>
        <th>PRIS INKL MOMS</th>
        <th>VOLYM I ML</th>
        <th>PRIS PER LITER</th>
        <th>ALKOHOL PER KRONA</th>
        <th>ALKOHOLHALT</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>NR</th>
        <th>NAMN</th>
        <th></th>
        <th>TYP</th>
        <th>PRIS INKL MOMS</th>
        <th>VOLYM I ML</th>
        <th>PRIS PER LITER</th>
        <th>ALKOHOL PER KRONA</th>
        <th>ALKOHOLHALT</th>
    </tr>
    </tfoot>
</table>


<script>
    $(document).ready(function () {

        // Setup - add a text input to each footer cell
        $('#artiklar tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Sök ' + title + '" />');
        });


        var table = $('#artiklar').DataTable({
            "serverSide": true,
            "ajax": "artiklar",
            scrollY: 600,
            deferRender: true,
            scroller: true,

            columns: [
                {
                    data: "nr"
                }, {
                    data: "namn"
                }, {
                    data: "namn2"
                }, {
                    data: "typ"
                }, {
                    data: "prisinklmoms"
                }, {
                    data: "volymiml"
                }, {
                    data: "prisPerLiter"
                }, {
                    data: "alkoholperkrona"
                }, {
                    data: "alkoholhalt"
                }]
        });

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

    });

</script>
</body>
</html>